- attributes("title") = "Welcome to Movie Search"
-@ val movie: com.github.fedeoasi.app.model.Movie
-@ val imageUrl: String = movie.posterUrl
-@ val imdbId: String = movie.imdbID
-@ val subsUrl: String = "/subtitles?imdbid=" + imdbId

h1= movie.title
a(href=subsUrl) Subtitles
p= movie.year
p= movie.imdbID
img(src=imageUrl)